{% extends "eservice/base.html" %}
{% block body %}

<div class="container">
    <h2 class="text-center">Crop Insurance Amount Calculator</h2>

    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-12">
                 <div class="col-sm-2">
                <label>1 ஏக்கர் கட்டணம் </label>
                 </div>

            </div>
             <div class="form-group col-md-12">

                 <div class="col-sm-1">
                <input type="text" class="form-control" value="347" name="acreAmount" placeholder="1 ஏக்கர் கட்டணம்">
                 </div>
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-2">
                <textarea class="span6" rows="10" class="form-control" placeholder="0.00.00&#10;0.00.00&#10;0.00.00"
                          name="parappu" required>{{crop.parappu_list}}</textarea>
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="btn btn-primary">Calculate</button>
            </div>
            <div class="form-group col-md-8">
                <h1 class="text-center">
                    <span style="color:red">கட்ட வேண்டிய தோராய பணம்: {{crop.round_amount}}</span>
                </h1>
                <h1 class="text-center">
                    <span style="color:green">மொத்த பரப்பு: {{crop.total_parappu}}</span>
                </h1>
                <h1 class="text-center">
                    <span style="color:blue">மொத்த சென்ட்டு: {{crop.total_cent}}</span>
                </h1>
            </div>
        </div>


    </form>
</div>

{% endblock body %}

