<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;
   color: black;
   text-align: justify;
}
</style>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>தமிழன் செயலி</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">வ.எண்</th>
      <th scope="col">பெயர்</th>
      <th scope="col">கணவர்/தகப்பனார் பெயர்</th>
      <th scope="col">வயது</th>
        <th scope="col">உறவுமுறை</th>
      <th scope="col">திருமண நிலை</th>
    </tr>
  </thead>
  <tbody>
  [data]

  </tbody>
</table>

<div class="footer">
    <p>எங்களின் அறியாமையாலும் குடும்ப சூழ்நிலையின் காரணமாகவும் எனது தந்தை மற்றும் எனது தாத்தா பாட்டி ஆகியோர்களின்
    வாரிசு சான்று எங்களால் பெறமுடியவில்லை.</p>

    <p>எனது [relation] [self_name] இறப்புக்குப்பின் அரசு சலுகைகள் பெறுவதற்கு வாரிசு சான்று வழங்க வேண்டுமாய்
    கேட்டுக்கொள்கிறேன். பின் விசாரணையில் தவறாக இருப்பதாக தெரிய வந்தால் அரசு எடுக்கும் கிரிமினல்
    நடவடிக்கைகளுக்கு கட்டுப்பட்டு நடப்பேன் எனவும் உறுதியளிக்கிறேன். எனது ஆதார் அட்டை எண்: [adhar]</p>
</div>




</body>
</html>