{% extends "eservice/base.html" %}
{% block body %}


<!--scenario:-->
<!--1. appa  son-->
<!--   appa  daughter-->
<!--   appa  wife-->
<!--2. amma  son-->
<!--   amma  daughter-->
<!--   amma  wife-->
<!--3. son  appa/amma-->
<!--4. daughter  appa/amma-->
<!--5. wife/husband  husband/wife-->

<!--6. non married-->


<script>

var isMale;
var isMarried;

$(document).ready(function() {
    $('#frmVarisu')
        .bootstrapValidator({
            excluded: ':disabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },

            fields: {
                 dep_adhar: {
                    validators: {
                        notEmpty: {
                            message: 'ஆதார் எண்?'
                        }
                    }
                },
                 self_name: {
                    validators: {
                        notEmpty: {
                            message: 'இறந்தவர் பெயர்?'
                        }
                    }
                },
                 self_age: {
                    validators: {
                        notEmpty: {
                            message: 'இறந்தவர் வயது?'
                        }
                    }
                },
                 dep_name: {
                    validators: {
                        notEmpty: {
                            message: 'துணை பெயர்?'
                        }
                    }
                },
                 dep_age: {
                    validators: {
                        notEmpty: {
                            message: 'துணை வயது?'
                        }
                    }
                },
                 gp_name: {
                    validators: {
                        notEmpty: {
                            message: 'தாத்தா பெயர்?'
                        }
                    }
                },
                 appa_name: {
                    validators: {
                        notEmpty: {
                            message: 'துணை பெயர்?'
                        }
                    }
                },
                 appa_age: {
                    validators: {
                        notEmpty: {
                            message: 'துணை வயது?'
                        }
                    }
                },
                 amma_name: {
                    validators: {
                        notEmpty: {
                            message: 'துணை பெயர்?'
                        }
                    }
                },
                 amma_age: {
                    validators: {
                        notEmpty: {
                            message: 'துணை வயது?'
                        }
                    }
                },
                applied_for: {
                    validators: {
                        callback: {
                            message: 'யாருக்கு?',
                            callback: function(value, validator) {
                                // Get the selected options
                                var options = validator.getFieldElements('applied_for').val();
                                return (options != null && options != 0);
                            }
                        }
                    }
                },
                self_gender: {
                    validators: {
                        callback: {
                            message: 'இறந்தவர் ஆணா பெண்ணா?',
                            callback: function(value, validator) {
                                // Get the selected options
                                var options = validator.getFieldElements('self_gender').val();
                                return (options != null && options != 0);
                            }
                        }
                    }
                },
                ddlRelation: {
                    validators: {
                        callback: {
                            message: "துணை?",
                            callback: function(value, validator) {
                                // Get the selected options
                                var options = validator.getFieldElements('ddlRelation').val();
                                return (options != null && options != 0);
                            }
                        }
                    }
                }
            }
        });
});



var Relation = {
   NONE: -1,
   gp: 0,
   appa: "அப்பா",
   amma: "அம்மா",
   Self: "இறந்தவர்",
   dep: 4,
   SON: 5,
   DAUGHTER: 6
};

let personTypes = {'gp':'0', 'appa':'1', 'amma':'2', 'Self':'3', 'dep':'4'};

class Varisu {
  constructor(name, age, isMarried, isDeath, relation, depname) {

    this.name = name;
    this.depname = depname;
    this.age = age;
    this.relation = relation;
    this.isMarried = isMarried;
    this.isDeath = isDeath;

  }

}


function get_row_template(object)
{

    return  `
             <tr>
          <td scope="col">[sno]</td>
          <td scope="col">[name]</td>
          <td scope="col">[husband]</td>
          <td scope="col">[age]</th>
            <td scope="col">[relation]</th>
          <th scope="col">[marriage]</th>
        </tr>
        `
}

function CreateTemplate(index)
{

return  `
        <div class="row" id="p${index}">
                <div class="col-md-2">
                   <select class="form-control" id="rel${index}Name">
                    <option value="0">--தேர்வு செய்--</option>
                    <option value="5">மகன்</option>
                    <option value="6">மகள்</option>
                 </select>
                </div>
                <div class="col-md-3">
                    <input class="form-control" id="son${index}Name" placeholder="son${index}Name" type="text" required>
                </div>
                <div class="col-md-1">
                    <input class="form-control" id="son${index}year" placeholder="son${index}year" type="text" onblur="CalculateAge(this.id);">
                </div>
                <div class="col-md-1">
                    <input class="form-control" id="son${index}age" placeholder="son${index}age" type="text">
                </div>
                <div class="col-md-2">
                    <input class="form-check-input" id="son${index}mrg" type="checkbox" checked="checked">
                    <label class="form-check-label" for="son1mrg">
                        திருமணம்?
                    </label>

                </div>
                <div class="col-md-2">
                    <input class="form-check-input" id="son${index}Status" type="checkbox">
                    <label class="form-check-label" for="son1Status">
                        இறந்தவர்?
                    </label>

                </div>
                 <div class="col-md-1">

                   <button class="btn btn-danger" id="btnGenerate" name="btnGenerate" type="button" onclick="Delete('p${index}');">Delete-${index}</button>

                </div>
            </div>
    `
}

function Delete(index)
{
    $('#'+ index).empty();
}

function CalculateAge(ctrlId)
  {
    var v = $("#"+ctrlId).val().trim();

        if (v != '') {
        const d = new Date();
       var ageId = ctrlId.replace('year','age');

        let year = d.getFullYear();
            $("#"+ageId).val(year - v);
        }

  }

function DeadGenderScenario()
{
    if($("#self_gender").val() == 1 ||  ($("#self_gender").val() == 2 && $("#self_isMarried").prop("checked") == false))
    {
        $("#appa_div").show();
        $("#amma_div").show();
    }
    else
    {
        $("#appa_div").hide();
        $("#amma_div").hide();
    }
}

function getSelfLastName()
{
    var d;

    if(isMale)
    {
        d =  $("#appa_name").val();
    }
    else if(isMale == false)
     {
        if(isMarried == false)
        {
            d =  $("#appa_name").val();
        }
        else if(isMale == false && isMarried)
        {
            d =  $("#dep_name").val();
        }
     }
    return d;

}

function getDepLastName()
    {
        var d;

        if(isMale)
           d =  $("#appa_name").val();
        else
           d =  $("#gp_name").val();

        return d;

    }

function AddSelf()
{
box = new Varisu($("#self_name").val(),
              $("#self_age").val(),
              $("#self_isMarried").prop("checked"),
              true,
              Relation.Self,
              getSelfLastName());
              boxes.push(box);
}

function AddDep()
{
box = new Varisu($("#dep_name").val(),
              $("#dep_age").val(),
              true,
              $("#dep_isDead").prop("checked"),
              $("#ddlRelation option:selected").text(),
              getDepLastName());
              boxes.push(box);
}


var boxes =  []; // my array

function FormObject() {

alert('22345');
   var obj = $("#childrens").children("div");

    var box = {}; // my object
    boxes =  []; // my array

      box = new Varisu($("#gp_name").val(),
      $("#gp_age").val(),
      true,
      $("#gp_isDead").prop("checked"),
      Relation.gp);
      boxes.push(box);

      if(isMale ||  (isMale == false && isMarried == false))
      {
          box = new Varisu($("#appa_name").val(),
          $("#appa_age").val(),
          true,
          $("#appa_isDead").prop("checked"),
          Relation.appa,
          $("#gp_name").val());
          boxes.push(box);

          box = new Varisu($("#amma_name").val(),
          $("#amma_age").val(),
          true,
          $("#amma_isDead").prop("checked"),
          Relation.amma,
          $("#appa_name").val());
          boxes.push(box);
      }

        if(isMarried)
        {
           if(isMale)
           {
                AddSelf();
                AddDep();
           }
           else
           {
             AddDep();
             AddSelf();
           }
        }
        else
        {
            AddSelf();
        }

    if(isMarried)
    {
        for (let i = 0; i < obj.length; i++) {
              box = new Varisu($("#son"+(i+1)+"Name").val(),
              $("#son"+(i+1)+"age").val(),
              $("#son"+(i+1)+"mrg").prop("checked"),
              $("#son"+(i+1)+"Status").prop("checked"),
              $("#rel"+(i+1)+"Name "+ "option:selected").text(),
              $("#self_name").val());
              boxes.push(box);
            }
    }
 }



     // Example starter JavaScript for disabling form submissions if there are invalid fields



     $.get('varisu_temp', function(data) {

                var dataToReplace = '';
                for (let i = 1; i < boxes.length; i++) {
                    var row = get_row_template();
                    row = row.replace('[sno]', i)
                                .replace('[name]', boxes[i].name)
                                .replace('[husband]', boxes[i].depname)
                                .replace('[age]', boxes[i].age)
                                .replace('[relation]', boxes[i].relation)
                                .replace('[marriage]', boxes[i].isMarried ? "திருமணமானவர்" : "இல்லை");
                    dataToReplace = dataToReplace.concat(row)
                }

                data = data.replace('[data]',dataToReplace);
                data = data.replace('[adhar]',$("#dep_adhar").val());
                data = data.replace('[self_name]',$("#self_name").val());
                data = data.replace('[self_name]',$("#applied_for option:selected").text());

                var winPrint = window.open('', '', width=800,height=600,toolbar=0);
		        winPrint.document.write(data);

        });





    $(function () {
    $('#childrens').empty();
        <!--adding child-->
        $('#childCount').blur(function() {

            var  childCount = $("#childCount").val();
            for (let i = 0; i < childCount; i++) {
          $('#childrens').append(CreateTemplate(i+1));

        }
        });

        <!--generate final output file-->
        $('#btnGenerate').click(function() {


                alert('ok');
                isMale = $("#self_gender").val() == 1;
                isMarried = $("#self_isMarried").prop("checked");
                FormObject();


        });

        <!--married or not married status changed-->
        $('#self_isMarried').change(function () {
            DeadGenderScenario();
            if ($(this).is(':checked')) {
                $("#mrgStatus").show();
                $("#lblChild").show();
                $("#childCount").show();
                $("#childrens").show();
            } else {
                $("#mrgStatus").hide();
                $("#lblChild").hide();
                $("#childCount").hide();
                $("#childrens").hide();
            }
        });

        <!--gender changed-->
        $('#self_gender').change(function () {
            DeadGenderScenario();
            selValue = $('#self_gender').val();

            if (selValue == 1) {
                $("#depLabel").text('துணைவி');
                $("#depNameLabel").text('துணைவி பெயர்');
                $("#dep_name").attr("placeholder", "துணைவி பெயர்");
                $('#ddlRelation').val(2);
            } else if (selValue == 2) {
                $("#depLabel").text('துணைவர்');
                $("#depNameLabel").text('துணைவர் பெயர்');
                 $("#dep_name").attr("placeholder", "துணைவர் பெயர்");
                $('#ddlRelation').val(1);
            }
            else
            {
            }
        });
});





</script>
<div class="container">
    <h2 class="text-center">வாரிசு சான்றிதல் 1</h2>
    <form action="" class="row g-3 needs-validation" id="frmVarisu" method="post" novalidate>
        {% csrf_token %}

        <div class="row">
            <div class="col-md-3">
                <label for="dep_adhar">வாரிசு தாரரின் ஆதார் எண்</label>

                <input
                        class="form-control"
                        id="dep_adhar"
                        name="dep_adhar"
                        placeholder="வாரிசு தாரரின் ஆதார் எண்"
                        required type="text">


            </div>
            <div class="col-md-3">
                <label for="applied_for">உறவு முறை</label>
                <select class="form-control" id="applied_for" name="applied_for">
                    <option value="">--தேர்வு செய்--</option>
                    <option value="1">கணவர்</option>
                    <option value="2">மனைவி</option>
                    <option value="3">அப்பா</option>
                    <option value="4">அம்மா</option>
                    <option value="5">மகன்</option>
                    <option value="6">மகள்</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><b>இறந்தவர்</b></label>
                <input checked="checked" class="form-check-input" id="self_isMarried" type="checkbox">
                <label class="form-check-label" for="self_isMarried">
                    திருமணம்?
                </label>
                <select class="form-control" id="self_gender" name="self_gender">
                    <option value="">--தேர்வு செய்--</option>
                    <option value="1">ஆண்</option>
                    <option value="2">பெண்</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="self_name">இறந்தவர் பெயர்</label>
                <input class="form-control" id="self_name" name="self_name" placeholder="பெயர்" type="text">
            </div>
            <div class="col-md-3">
                <label for="self_year"> </label>
                <input class="form-control" id="self_year" name="self_year" onblur="CalculateAge(this.id);"
                       placeholder="birthYear"
                       type="text">
            </div>
            <div class="col-md-3">
                <label for="self_age"> </label>
                <input class="form-control" id="self_age" name="self_age" placeholder="age" required type="text">
            </div>
        </div>

        <div class="row" id="mrgStatus">
            <div class="col-md-3">
                <label for="ddlRelation" id="depLabel">துணைவர்</label>
                <input class="form-check-input" id="dep_isDead" type="checkbox">
                <label class="form-check-label" for="dep_isDead">
                    இறந்தவர்?
                </label>
                <select class="form-control" id="ddlRelation" name="ddlRelation">
                    <option value="">--தேர்வு செய்--</option>
                    <option value="1">கணவன்</option>
                    <option value="2">மனைவி</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="dep_name" id="depNameLabel">துணைவர் பெயர்</label>
                <input class="form-control" id="dep_name" name="dep_name" placeholder="துணைவர் பெயர்" type="text">
            </div>
            <div class="col-md-3">
                <label for="dep_year"> </label>
                <input class="form-control" id="dep_year" name="dep_year" onblur="CalculateAge(this.id);"
                       placeholder="depBirthYear"
                       type="text">
            </div>
            <div class="col-md-3">
                <label for="dep_age"> </label>
                <input class="form-control" id="dep_age" name="dep_age" placeholder="depAge" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <label for="gp_name">தாத்தா பெயர்</label>
                <input class="form-control" id="gp_name" name="gp_name" placeholder="தாத்தா பெயர்" type="text">
            </div>

        </div>
        <div class="row" id="appa_div">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <label for="appa_name">அப்பா பெயர்</label>
                <input class="form-control" id="appa_name" name="appa_name" placeholder="அப்பா பெயர்" type="text">
            </div>
            <div class="col-md-3">
                <label for="appa_year"> </label>
                <input class="form-control" id="appa_year" name="appa_year" onblur="CalculateAge(this.id);"
                       placeholder="appaBirthYear"
                       type="text">
            </div>
            <div class="col-md-3">
                <label for="appa_age"> </label>
                <input class="form-control" id="appa_age" name="appa_age" placeholder="appaAge" type="text">
            </div>
        </div>
        <div class="row" id="amma_div">
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <label for="amma_name">அம்மா பெயர்</label>
                <input class="form-control" id="amma_name" name="amma_name" placeholder="அம்மா பெயர்" type="text">
            </div>
            <div class="col-md-3">
                <label for="amma_year"> </label>
                <input class="form-control" id="amma_year" name="amma_year" onblur="CalculateAge(this.id);"
                       placeholder="ammaBirthYear"
                       type="text">
            </div>
            <div class="col-md-3">
                <label for="amma_age"> </label>
                <input class="form-control" id="amma_age" name="amma_age" placeholder="ammaAge" type="text">
            </div>
        </div>
        <div class="row">

            <div class="col-md-2"><label for="childCount" id="lblChild">பிள்ளைகள்?</label>
                <input class="form-control" id="childCount" placeholder="childCount" type="text"></div>
        </div>
        <div class="container" id="childrens">

        </div>
        <div class="form-group">

        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-primary" id="btnGenerate" name="btnGenerate" type="submit">CREATE</button>
        </div>
        <div class="col-md-9 col-md-offset-3">
            <div id="messages"></div>
        </div>

    </form>
</div>


<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>


{% endblock body %}