{% extends "adangal/base.html" %}
{% block body %}


<div class="container">
    <h2 class="text-center">அடங்கல்</h2>
    <form action="" class="row g-3 needs-validation" id="frmVarisu" method="post" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">நிலை-1</div>
                        <div class="panel-body">
                            <label class="form-check-label" for="ddlMaavattam">
                                மாவட்டம்
                            </label>
                            <select class="form-control" id="ddlMaavattam" name="ddlMaavattam" onChange="form.submit();">
                                {% for entry in districts %}
                                <option value="{{ entry.Value }}">{{ entry.Display }}</option>
                                {% endfor %}
                            </select>
                             <label class="form-check-label" for="ddlVattam">
                                வட்டம்
                            </label>
                            <select class="form-control" id="ddlVattam" name="ddlVattam" onChange="form.submit();">
                                 {% for entry in taluks %}
                                <option value="{{ entry.talukcode }}">{{ entry.talukname }}</option>
                                {% endfor %}
                            </select>
                             <label class="form-check-label" for="ddlVillage">
                                வருவாய் கிராமம்
                            </label>
                            <select class="form-control" id="ddlVillage" name="ddlVillage" onChange="form.submit();">
                                 {% for entry in villages %}
                                <option value="{{ entry.villagecode }}">{{ entry.villagename }}</option>
                                {% endfor %}
                            </select>

                             <button class="btn btn-primary" id="btnGenerate" name="btnGenerate" type="submit">1. முதல் தகவலை எடு</button>

                        </div>
                    </div>
                </div>
            </div>

    </form>
</div>


{% endblock body %}